.header {
  padding-block: 1rem;
  padding-top: 1.5rem;
  width: 100%;
  font-family: var(--font-koho);

  nav {
    display: flex;
    justify-content: space-between;
    width: inherit;
    ul {
      display: flex;

      li {
        margin: 0 0.5rem;
      }
    }
  }
}
