.sidebar {
    color: white;
    ul li {
        &:hover {
            background-color: #00b4d85d;
        }
    }
}

.active {
        border-left: 3px solid white;
        background-color: #00B5D8;
}